.filepond--image-preview-wrapper {
    margin-left: 5px !important;
    margin-right: 5px !important;
    box-shadow: 0 2.8px 0.2px rgb(0 0 0 / 3%), 0 -37.3px 41.3px rgb(0 0 0 / 5%), 0 2px 2px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 8%), 0 3px 3px rgb(0 0 0 / 9%), 0 10px 8px rgb(0 0 0 / 12%) !important;
    margin-top: 5px !important;
}


.filepond--item-panel {
    clear: left !important;
    float: left !important;
    min-height: 175px !important;
}

.filepond--list {
    margin: 5px 10px 0 0 !important;
}

.filepond--drop-label {
    border: 1px dashed #bfbfbf !important;
}

.filepond--item-panel,
.filepond--image-preview-overlay-idle,
[data-filepond-item-state='processing-complete'] .filepond--item-panel,
.filepond--image-preview,
.filepond--panel-root {
    background-color: transparent !important;
}


.filepond--item {
    width: calc(50% - .5em) !important;
}

@media (min-width: 30em) {
    .filepond--item {
        width: calc(50% - .5em) !important;
    }
}

@media (min-width: 50em) {
    .filepond--item {
        width: calc(33.33% - .5em) !important;
    }
}

.filepond--file-info {
    padding: 5px 0 2px 0 !important;
    bottom: 29px !important;
}

.filepond--file-info-sub {
    margin-left: 5px !important;
}

.filepond--file-status {
    padding: 3px 0 6px 0 !important;
    bottom: 0 !important;
}

.filepond--file-status,
.filepond--file-info {
    background-color: #000000ad !important;
    float: left !important;
    display: block !important;
    position: absolute !important;
    width: 92% !important;
    text-align: center !important;
}
.filepond--file-status{
    border-radius : 0px 0px 5px 5px !important;
    }


#smfw-alert {
    display: none;
}

.alert-danger {
    background-color: #c18383 !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
    color: #fff;
    text-align: center !important;
    border-radius: 10px !important;
    border: 2px solid #ec8181 !important;
}

.wpforms-field-upload-file {
    height: 78px !important;
}